In [5]:
import pandas as pd
import numpy as np  
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
import os 
from io import BytesIO
import requests
from datetime import datetime

In [6]:
services = ['fhv','green','yellow']
df_names = ['fhv_df','green_df','yellow_df']
init_url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/'

In [7]:
service = services[2]
month = '04'
year = '2019'

In [20]:

# GET yellow DF 
yellow_file_name = f"yellow_tripdata_{year}-{month}.csv.gz"

yellow_url = f"{init_url}yellow/{yellow_file_name}"
print(yellow_url)


yellow_r = requests.get(yellow_url)    
yellow_df = pd.read_csv(BytesIO(yellow_r.content), compression='gzip')
print(yellow_df.shape)

https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-04.csv.gz
(7433139, 18)

In [21]:
# GET GREEN DF 
green_file_name = f"green_tripdata_{year}-{month}.csv.gz"

green_url = f"{init_url}green/{green_file_name}"
print(green_url)


green_r = requests.get(green_url)    
green_df = pd.read_csv(BytesIO(green_r.content), compression='gzip')
print(green_df.shape)

https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-04.csv.gz
(514392, 20)

In [23]:
# GET fhv DF 
fhv_file_name = f"fhv_tripdata_{year}-{month}.csv.gz"

fhv_url = f"{init_url}fhv/{fhv_file_name}"
print(fhv_url)


fhv_r = requests.get(fhv_url)    
fhv_df = pd.read_csv(BytesIO(fhv_r.content), compression='gzip')
print(fhv_df.shape)

https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-04.csv.gz
(1937844, 7)

In [24]:
print(green_df.columns)

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [19]:
df_yellow = df_csv.copy()

In [12]:
print(green_df.columns)

NameError: name 'green_df' is not defined

In [21]:
df_yellow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7433139 entries, 0 to 7433138
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   RatecodeID             int64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(9), int64(6), object(3)
memory usage: 1020.8+ MB

In [1]:
df_green.info()

NameError: name 'df_green' is not defined

In [23]:
df_fhv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1937844 entries, 0 to 1937843
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropOff_datetime        object
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: float64(3), object(4)
memory usage: 103.5+ MB

In [25]:
df_yellow.columns = df_yellow.columns.str.lower()
df_green.columns = df_green.columns.str.lower()
df_fhv.columns = df_fhv.columns.str.lower()

In [27]:
# VendorID is an INT 
print('yellow',df_yellow.vendorid.value_counts())
print('green',df_green.vendorid.value_counts())

yellow vendorid
2    4633794
1    2767475
4      31870
Name: count, dtype: int64
green vendorid
2    430800
1     83592
Name: count, dtype: int64

In [49]:
# VendorID is an INT 
print('yellow',df_yellow.store_and_fwd_flag.value_counts())
print('green',df_green.store_and_fwd_flag.value_counts())

yellow store_and_fwd_flag
N    7390729
Y      42410
Name: count, dtype: int64
green store_and_fwd_flag
N    512983
Y      1409
Name: count, dtype: int64

In [28]:
# Passenger count is an INT 
print('yellow',df_yellow.passenger_count.value_counts())
print('green',df_green.passenger_count.value_counts())

yellow passenger_count
1    5210818
2    1113704
3     317979
5     313982
6     186408
4     153369
0     136807
7         29
8         24
9         19
Name: count, dtype: int64
green passenger_count
1    441661
2     38677
5     14597
6      8463
3      7123
4      2831
0      1022
8        12
7         4
9         2
Name: count, dtype: int64

In [31]:
url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month}.parquet'
r = requests.get(url)
df_parquet = pd.read_parquet(BytesIO(r.content))

In [48]:
df_parquet.columns = df_parquet.columns.str.lower()
source_dtypes = df_parquet.dtypes
source_dtypes.drop(source_dtypes.index[-1], inplace=True)
series_string = source_dtypes.to_string()
print(series_string)

vendorid                          int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
ratecodeid                      float64
store_and_fwd_flag               object
pulocationid                      int64
dolocationid                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64

In [ ]:
0   VendorID               int64  
 1   tpep_pickup_datetime   object 
 2   tpep_dropoff_datetime  object 
 3   passenger_count        int64  
 4   trip_distance          float64
 5   RatecodeID             int64  
 6   store_and_fwd_flag     object 
 7   PULocationID           int64  
 8   DOLocationID           int64  
 9   payment_type           int64  
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64

In [40]:
df_yellow = df_yellow.astype(source_dtypes)

In [41]:
df_yellow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7433139 entries, 0 to 7433138
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendorid               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   ratecodeid             float64
 6   store_and_fwd_flag     object
 7   pulocationid           int64
 8   dolocationid           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: datetime64[us](2), float64(11), int64(4), object(1)
memory usage: 1020.8+ MB

In [42]:
df_parquet.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2019-04-01 00:04:09,2019-04-01 00:06:35,1.0,0.5,1.0,N,239,239,1,4.0,3.0,0.5,1.00,0.0,0.3,8.80,2.5,None
1,1,2019-04-01 00:22:45,2019-04-01 00:25:43,1.0,0.7,1.0,N,230,100,2,4.5,3.0,0.5,0.00,0.0,0.3,8.30,2.5,None
2,1,2019-04-01 00:39:48,2019-04-01 01:19:39,1.0,10.9,1.0,N,68,127,1,36.0,3.0,0.5,7.95,0.0,0.3,47.75,2.5,None
3,1,2019-04-01 00:35:32,2019-04-01 00:37:11,1.0,0.2,1.0,N,68,68,2,3.5,3.0,0.5,0.00,0.0,0.3,7.30,2.5,None
4,1,2019-04-01 00:44:05,2019-04-01 00:57:58,1.0,4.8,1.0,N,50,42,1,15.5,3.0,0.5,3.85,0.0,0.3,23.15,2.5,None