In [1]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql import types

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/02/16 11:32:14 WARN Utils: Your hostname, pepper resolves to a loopback address: 127.0.1.1; using 192.168.178.64 instead (on interface wlp2s0)
24/02/16 11:32:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/16 11:32:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/02/16 11:32:15 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/02/16 11:32:15 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

### Download both a CSV and PARQUET File 
to compare how Spark handles interpreting the schema from both of these files.

In [9]:
! wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
#! wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-01.parquet

--2024-02-16 11:42:06--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240216T104207Z&X-Amz-Expires=300&X-Amz-Signature=2121ce49f083157d190ed33d6d3ff8e4da2848173202892f4b1355f9c4841f6b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-02-16 11:42:07--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240216T104207Z&X-Amz-Expires=300&X-Amz-Signature=2121ce49f083157d190ed33d6d3ff8e4da2848173202892f4b1355f9c4841f6b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129967421 (124M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-01.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 123.95M  38.1MB/s    in 3.6s

2024-02-16 11:42:11 (34.8 MB/s) - ‘fhvhv_tripdata_2021-01.csv.gz’ saved [129967421/129967421]

In [10]:
!wc -l fhvhv_tripdata_2021-01.csv.gz
!gunzip fhvhv_tripdata_2021-01.csv.gz

508066 fhvhv_tripdata_2021-01.csv.gz

### Read both files into a Spark DF.

In [11]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-01.csv')

df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   NULL|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   NULL|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   NULL|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   NULL|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   NULL|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   NULL|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   NULL|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   NULL|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   NULL|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   NULL|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   NULL|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   NULL|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   NULL|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   NULL|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   NULL|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   NULL|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   NULL|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   NULL|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   NULL|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [5]:
df_parquet = spark.read.parquet('green_tripdata_2021-01.parquet')
df_parquet.show(5)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2021-01-01 00:15:56|  2021-01-01 00:19:52|                 N|       1.0|          43|         151|            1.0|         1.01|        5.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         6.8|         2.0|      1.0|                 0.0|
|       2| 2021-01-01 00:25:59|  2021-01-01 00:34:44|                 N|       1.0|         166|         239|            1.0|         2.53|       10.0|  0.5|    0.5|      2.81|         0.0|     NULL|                  0.3|       16.86|         1.0|      1.0|                2.75|
|       2| 2021-01-01 00:45:57|  2021-01-01 00:51:55|                 N|       1.0|          41|          42|            1.0|         1.12|        6.0|  0.5|    0.5|       1.0|         0.0|     NULL|                  0.3|         8.3|         1.0|      1.0|                 0.0|
|       2| 2020-12-31 23:57:51|  2021-01-01 00:04:56|                 N|       1.0|         168|          75|            1.0|         1.99|        8.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         9.3|         2.0|      1.0|                 0.0|
|       2| 2021-01-01 00:16:36|  2021-01-01 00:16:40|                 N|       2.0|         265|         265|            3.0|          0.0|      -52.0|  0.0|   -0.5|       0.0|         0.0|     NULL|                 -0.3|       -52.8|         3.0|      1.0|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 5 rows

In [12]:
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:33:44', dropoff_datetime='2021-01-01 00:49:07', PULocationID='230', DOLocationID='166', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:55:19', dropoff_datetime='2021-01-01 01:18:21', PULocationID='152', DOLocationID='167', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:23:56', dropoff_datetime='2021-01-01 00:38:05', PULocationID='233', DOLocationID='142', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:42:51', dropoff_datetime='2021-01-01 00:45:50', PULocationID='142', DOLocationID='143', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:48:14', dropoff_datetime='2021-01-01 01:08:42', PULocationID='143', DOLocationID='78', SR_Flag=None)]

In [6]:
df_parquet.head(5)

[Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2021, 1, 1, 0, 15, 56), lpep_dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 19, 52), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=43, DOLocationID=151, passenger_count=1.0, trip_distance=1.01, fare_amount=5.5, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=6.8, payment_type=2.0, trip_type=1.0, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2021, 1, 1, 0, 25, 59), lpep_dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 34, 44), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=166, DOLocationID=239, passenger_count=1.0, trip_distance=2.53, fare_amount=10.0, extra=0.5, mta_tax=0.5, tip_amount=2.81, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=16.86, payment_type=1.0, trip_type=1.0, congestion_surcharge=2.75),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2021, 1, 1, 0, 45, 57), lpep_dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 51, 55), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=41, DOLocationID=42, passenger_count=1.0, trip_distance=1.12, fare_amount=6.0, extra=0.5, mta_tax=0.5, tip_amount=1.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=8.3, payment_type=1.0, trip_type=1.0, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 12, 31, 23, 57, 51), lpep_dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 4, 56), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=168, DOLocationID=75, passenger_count=1.0, trip_distance=1.99, fare_amount=8.0, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=9.3, payment_type=2.0, trip_type=1.0, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2021, 1, 1, 0, 16, 36), lpep_dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 16, 40), store_and_fwd_flag='N', RatecodeID=2.0, PULocationID=265, DOLocationID=265, passenger_count=3.0, trip_distance=0.0, fare_amount=-52.0, extra=0.0, mta_tax=-0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=-0.3, total_amount=-52.8, payment_type=3.0, trip_type=1.0, congestion_surcharge=0.0)]

### FOR THE CSV FILE --- spark infers everything as string.

In [13]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True)])

In [7]:
df_parquet.schema

StructType([StructField('VendorID', LongType(), True), StructField('lpep_pickup_datetime', TimestampNTZType(), True), StructField('lpep_dropoff_datetime', TimestampNTZType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('RatecodeID', DoubleType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('passenger_count', DoubleType(), True), StructField('trip_distance', DoubleType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('ehail_fee', IntegerType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('payment_type', DoubleType(), True), StructField('trip_type', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True)])

### WORKAROUND 
A trick to creating the schema for the CSV file
- create a pandas df containing a sample of the CSV data
- pandas will infer the data types
- then convert the pandas df to a spark df

In [19]:
# Create a small CSV file so pandas doesn't have to open the big one and save it 
df.limit(1000).toPandas().to_csv('small_fhvhv_tripdata_2021-01.csv', index=False)

# Another option to create a small CSV file
# !head -n 1001 fhvhv_tripdata_2021-01.csv > head.csv

In [23]:
df_csv = pd.read_csv('small_fhvhv_tripdata_2021-01.csv')
df_csv.head()

,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag
0,HV0003,B02682,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,NaN
1,HV0003,B02682,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,NaN
2,HV0003,B02764,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,NaN
3,HV0003,B02764,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,NaN
4,HV0003,B02764,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,NaN

In [24]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   hvfhs_license_num     1000 non-null   object
 1   dispatching_base_num  1000 non-null   object
 2   pickup_datetime       1000 non-null   object
 3   dropoff_datetime      1000 non-null   object
 4   PULocationID          1000 non-null   int64
 5   DOLocationID          1000 non-null   int64
 6   SR_Flag               0 non-null      float64
dtypes: float64(1), int64(2), object(4)
memory usage: 54.8+ KB

in spark session there is a method called createDataFrame that takes in a pandas df and makes a spark df

In [25]:
spark_df=spark.createDataFrame(df_csv)

In [26]:
spark_df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|    NaN|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|    NaN|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|    NaN|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|    NaN|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|    NaN|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|    NaN|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|    NaN|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|    NaN|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|    NaN|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|    NaN|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|    NaN|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|    NaN|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|    NaN|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|    NaN|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|    NaN|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|    NaN|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|    NaN|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|    NaN|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|    NaN|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|    NaN|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [27]:
spark_df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True)])

Convert the schema to python. 
- change long(8 bytes) to integer (4 bytes)
- fix the datatypes for the timestamps
- add types module

In [28]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropoff_datetime',types.TimestampType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True)
])

Now we can use this schema when we read the csv file

In [29]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-01.csv')

In [30]:
# Now you can see that the data is properly parsed
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 33, 44), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 49, 7), PULocationID=230, DOLocationID=166, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 55, 19), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 18, 21), PULocationID=152, DOLocationID=167, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 23, 56), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 38, 5), PULocationID=233, DOLocationID=142, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 42, 51), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 45, 50), PULocationID=142, DOLocationID=143, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 48, 14), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 8, 42), PULocationID=143, DOLocationID=78, SR_Flag=None)]

## PARTITIONING 
In order to take advantage of Sparks distributed parallel processing capabilities, you need to chunk up the data so that it can be split up between the workers.

In [32]:
df = df.repartition(24)

In [38]:
df.write.parquet('fhvhv/2021/01/', mode="overwrite")

24/02/16 14:53:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/02/16 14:53:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/16 14:53:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/02/16 14:53:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/02/16 14:53:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/02/16 14:53:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
24/02/16 14:53:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
24/02/16 14:53:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
24/02/16 14:53:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
24/02/16 14:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
24/02/16 14:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
24/02/16 14:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
24/02/16 14:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/02/16 14:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/02/16 14:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/02/16 14:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/16 14:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/02/16 14:53:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

## SPARK DATAFRAMES

In [51]:
# SELECTING AND FILTERING DATA
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
    .filter(df.hvfhs_license_num == 'HV0003')

DataFrame[pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int]

### TRANSFORMATIONS LIKE SELECT AND FILTER ARE LAZY  -- SPARK ONLY EXECUTES ON ACTIONS SUCH AS SHOW

In [52]:
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
    .filter(df.hvfhs_license_num == 'HV0003').show()

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-02 11:32:02|2021-01-02 11:42:27|          76|          76|
|2021-01-02 19:37:11|2021-01-02 19:44:03|          18|          20|
|2021-01-02 01:21:23|2021-01-02 01:32:28|         185|         212|
|2021-01-01 00:31:25|2021-01-01 00:40:09|         250|         208|
|2021-01-02 18:02:44|2021-01-02 19:02:49|         231|         265|
|2021-01-02 16:57:15|2021-01-02 17:02:12|          36|          37|
|2021-01-01 03:17:22|2021-01-01 03:22:54|          84|          84|
|2021-01-02 09:44:33|2021-01-02 09:53:25|         119|         235|
|2021-01-02 12:06:15|2021-01-02 12:11:36|         168|         159|
|2021-01-02 16:26:39|2021-01-02 17:08:50|          76|         136|
|2021-01-01 13:35:36|2021-01-01 14:14:05|         132|         239|
|2021-01-01 21:50:57|2021-01-01 22:22:39|          39|          91|
|2021-01-02 06:32:18|2021-01-02 06:40:23|         170|         145|
|2021-01-01 18:14:39|2021-01-01 18:45:58|         188|         186|
|2021-01-01 10:26:51|2021-01-01 10:35:04|         247|         169|
|2021-01-01 16:34:45|2021-01-01 16:38:48|          61|         177|
|2021-01-01 18:38:07|2021-01-01 18:47:49|         146|           7|
|2021-01-01 00:59:31|2021-01-01 01:28:13|         168|         254|
|2021-01-02 12:32:37|2021-01-02 13:10:41|         258|          41|
|2021-01-01 20:47:34|2021-01-01 20:56:53|         129|         173|
+-------------------+-------------------+------------+------------+
only showing top 20 rows

### PySpark has a large selection of built in functions

In [53]:
from pyspark.sql import functions as F

In [56]:
# Add a new column to the DF with withColumn()
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .select('pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-----------+------------+------------+------------+
| 2021-01-02|  2021-01-02|          76|          76|
| 2021-01-01|  2021-01-01|         188|          89|
| 2021-01-01|  2021-01-01|          82|          83|
| 2021-01-01|  2021-01-01|         208|         174|
| 2021-01-01|  2021-01-01|          95|         129|
| 2021-01-01|  2021-01-01|         179|           7|
| 2021-01-01|  2021-01-01|          28|          82|
| 2021-01-02|  2021-01-02|          76|          77|
| 2021-01-02|  2021-01-02|         147|         169|
| 2021-01-02|  2021-01-02|         234|         236|
| 2021-01-02|  2021-01-02|          91|          72|
| 2021-01-01|  2021-01-01|         145|         237|
| 2021-01-01|  2021-01-01|         159|         169|
| 2021-01-02|  2021-01-02|         159|         235|
| 2021-01-01|  2021-01-01|         167|          45|
| 2021-01-01|  2021-01-01|          61|         188|
| 2021-01-02|  2021-01-02|         228|          87|
| 2021-01-01|  2021-01-01|          18|           7|
| 2021-01-01|  2021-01-01|          74|          42|
| 2021-01-02|  2021-01-02|         100|         142|
+-----------+------------+------------+------------+
only showing top 20 rows

## USER DEFINED FUNCTIONS 
you can also define your own custom functions to use on the spark DFs

In [57]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [65]:
crazy_stuff('B02512')

'e/9d0'

In [58]:
# CONVERTING THE FUNCTION TO A UDF
crazy_stuff_udf = F.udf(crazy_stuff,  returnType= types.StringType())

In [62]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2021-01-01 06:52:41|2021-01-01 06:59:34|          14|         227|   NULL|
|           HV0003|              B02617|2021-01-01 19:01:37|2021-01-01 19:10:19|          39|          72|   NULL|
|           HV0005|              B02510|2021-01-02 09:43:41|2021-01-02 09:46:47|          92|          92|   NULL|
|           HV0003|              B02872|2021-01-02 03:50:52|2021-01-02 04:54:16|         162|         265|   NULL|
|           HV0003|              B02765|2021-01-01 02:21:54|2021-01-01 02:42:46|         228|         210|   NULL|
|           HV0003|              B02765|2021-01-01 03:21:44|2021-01-01 04:04:56|          92|          42|   NULL|
|           HV0003|              B02882|2021-01-01 17:40:51|2021-01-01 17:49:27|          82|         157|   NULL|
|           HV0003|              B02877|2021-01-02 18:57:19|2021-01-02 19:03:46|         130|         215|   NULL|
|           HV0005|              B02510|2021-01-01 05:34:18|2021-01-01 05:50:43|         126|         243|   NULL|
|           HV0003|              B02888|2021-01-01 00:06:36|2021-01-01 00:23:11|          81|         243|   NULL|
|           HV0003|              B02872|2021-01-02 00:53:42|2021-01-02 01:47:47|          45|         117|   NULL|
|           HV0005|              B02510|2021-01-02 05:19:34|2021-01-02 05:33:24|         244|         194|   NULL|
|           HV0005|              B02510|2021-01-02 00:15:46|2021-01-02 00:23:02|         160|          95|   NULL|
|           HV0003|              B02878|2021-01-01 21:18:01|2021-01-01 21:29:39|         262|         238|   NULL|
|           HV0003|              B02875|2021-01-02 13:26:22|2021-01-02 13:38:12|         132|         134|   NULL|
|           HV0003|              B02883|2021-01-01 16:52:54|2021-01-01 17:14:11|         113|         239|   NULL|
|           HV0003|              B02835|2021-01-01 11:16:46|2021-01-01 11:22:56|         107|         170|   NULL|
|           HV0003|              B02866|2021-01-02 18:18:40|2021-01-02 18:24:05|         251|         251|   NULL|
|           HV0005|              B02510|2021-01-01 09:53:30|2021-01-01 10:17:54|         255|         238|   NULL|
|           HV0003|              B02764|2021-01-02 12:56:36|2021-01-02 13:13:58|         130|         196|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [66]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num))\
    .show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+-----------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|pickup_date|dropoff_date|base_id|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+-----------+------------+-------+
|           HV0005|              B02510|2021-01-01 06:52:41|2021-01-01 06:59:34|          14|         227|   NULL| 2021-01-01|  2021-01-01|  e/9ce|
|           HV0003|              B02617|2021-01-01 19:01:37|2021-01-01 19:10:19|          39|          72|   NULL| 2021-01-01|  2021-01-01|  e/a39|
|           HV0005|              B02510|2021-01-02 09:43:41|2021-01-02 09:46:47|          92|          92|   NULL| 2021-01-02|  2021-01-02|  e/9ce|
|           HV0003|              B02872|2021-01-02 03:50:52|2021-01-02 04:54:16|         162|         265|   NULL| 2021-01-02|  2021-01-02|  e/b38|
|           HV0003|              B02765|2021-01-01 02:21:54|2021-01-01 02:42:46|         228|         210|   NULL| 2021-01-01|  2021-01-01|  s/acd|
|           HV0003|              B02765|2021-01-01 03:21:44|2021-01-01 04:04:56|          92|          42|   NULL| 2021-01-01|  2021-01-01|  s/acd|
|           HV0003|              B02882|2021-01-01 17:40:51|2021-01-01 17:49:27|          82|         157|   NULL| 2021-01-01|  2021-01-01|  e/b42|
|           HV0003|              B02877|2021-01-02 18:57:19|2021-01-02 19:03:46|         130|         215|   NULL| 2021-01-02|  2021-01-02|  s/b3d|
|           HV0005|              B02510|2021-01-01 05:34:18|2021-01-01 05:50:43|         126|         243|   NULL| 2021-01-01|  2021-01-01|  e/9ce|
|           HV0003|              B02888|2021-01-01 00:06:36|2021-01-01 00:23:11|          81|         243|   NULL| 2021-01-01|  2021-01-01|  e/b48|
|           HV0003|              B02872|2021-01-02 00:53:42|2021-01-02 01:47:47|          45|         117|   NULL| 2021-01-02|  2021-01-02|  e/b38|
|           HV0005|              B02510|2021-01-02 05:19:34|2021-01-02 05:33:24|         244|         194|   NULL| 2021-01-02|  2021-01-02|  e/9ce|
|           HV0005|              B02510|2021-01-02 00:15:46|2021-01-02 00:23:02|         160|          95|   NULL| 2021-01-02|  2021-01-02|  e/9ce|
|           HV0003|              B02878|2021-01-01 21:18:01|2021-01-01 21:29:39|         262|         238|   NULL| 2021-01-01|  2021-01-01|  e/b3e|
|           HV0003|              B02875|2021-01-02 13:26:22|2021-01-02 13:38:12|         132|         134|   NULL| 2021-01-02|  2021-01-02|  e/b3b|
|           HV0003|              B02883|2021-01-01 16:52:54|2021-01-01 17:14:11|         113|         239|   NULL| 2021-01-01|  2021-01-01|  a/b43|
|           HV0003|              B02835|2021-01-01 11:16:46|2021-01-01 11:22:56|         107|         170|   NULL| 2021-01-01|  2021-01-01|  s/b13|
|           HV0003|              B02866|2021-01-02 18:18:40|2021-01-02 18:24:05|         251|         251|   NULL| 2021-01-02|  2021-01-02|  e/b32|
|           HV0005|              B02510|2021-01-01 09:53:30|2021-01-01 10:17:54|         255|         238|   NULL| 2021-01-01|  2021-01-01|  e/9ce|
|           HV0003|              B02764|2021-01-02 12:56:36|2021-01-02 13:13:58|         130|         196|   NULL| 2021-01-02|  2021-01-02|  e/acc|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+-----------+------------+-------+
only showing top 20 rows